# Discord settings:

bot_token: 
status_message: 

timezone: "Europe/London"

max_text: 100000
max_images: 5
max_messages: 25

allow_dms: true
read_history: false

permissions:
  users:
    admin_ids: []
    allowed_ids: []
    blocked_ids: []

  roles:
    allowed_ids: []
    blocked_ids: []

  channels:
    allowed_ids: []
    blocked_ids: []

# LLM settings:

providers:
  # Remote providers:
  azure-openai:
    base_url: https://<resource name>.openai.azure.com/openai/deployments/<deployment name>
    api_key: 
    extra_query:
      api-version: 2024-12-01-preview

  google:
    base_url: https://generativelanguage.googleapis.com/v1beta/openai
    api_key: 

  groq:
    base_url: https://api.groq.com/openai/v1
    api_key: 

  mistral:
    base_url: https://api.mistral.ai/v1
    api_key: 

  openai:
    base_url: https://api.openai.com/v1
    api_key: 

  openrouter:
    base_url: https://openrouter.ai/api/v1
    api_key: 

  x-ai:
    base_url: https://api.x.ai/v1
    api_key: 

  # Local providers:
  lmstudio:
    base_url: http://localhost:1234/v1

  ollama:
    base_url: http://localhost:11434/v1

  vllm:
    base_url: http://localhost:8000/v1

models:
  openai/gpt-5:
    reasoning_effort: high
    verbosity: medium

  openrouter/x-ai/grok-4-fast:online:

  ollama/llama4:

prompt_file: prompt.txt

# Wiki settings (optional)

use_wiki: false
wiki_url: https://example.com
wiki_token: TOKEN
webhook_id: 1234567890